@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700&display=swap');

body {
	width: 100vw;
	height: 100vh;
	background-color: rgb(26, 24, 24);
	overflow: hidden;
}